.voucher {
    &__banner {
        img {
            width: 100%;
        }
    }
    &__code {
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
       
        &__title {
            color: $color-blue;
            padding-bottom: 30px;
            h1 {
                font-size: 3rem;
            }
        }
        &__code01 {
            display: flex;
            width: 300px;
            height: 70px;
            background-color: $color-blue;
            overflow: hidden;

             &:hover .voucher__code__code01__09{
                 transform: translateX(-300px);
                 transition:all 0.5s ease;
             }

            &__09{
                transition:all 0.5s ease;
                display: flex;
                &__01{
                    width: 300px;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 2rem;
                }
            }

        }
    }
}

