@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    user-select: none;
}
html{
    font-size: 13px;
    font-weight: 600;

}
body{
    font-family: "roboto",sans-serif;
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
    margin-bottom: 0px;
}
h1{
    margin-bottom: 0px;
}
p{
    margin-bottom: 0px;
}
.main{
    width: 100%;
    padding-top: 80px;
    height: 100%;
    padding-bottom: 30px;
    min-height: 100vh;
   
}
.bg-red{
    background-color: rgb(231, 17, 17);
}
.bg-blue{
    background-color: rgb(15, 29, 219);
}
.bg-yellow{
    background-color: rgb(230, 215, 15);
}
.bg-gray{
    background-color: rgb(153, 153, 153);
}
.bg-black{
    background-color: rgb(0, 0, 0);
}
.bg-orange{
    background-color: rgb(255, 127, 7);
}
.bg-white{
    background-color: rgb(255, 255, 255);
}
.bg-pink{
    background-color: rgb(179, 49, 146);
}